# Define o microcontrolador do próprio sensor ADXL (comum em sensores USB)
[mcu adxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_SUA_ID_AQUI-if00 # Você vai atualizar isso quando o sensor chegar

[adxl345]
cs_pin: adxl:gpio9  # Mantenha o gpio9 como indicado. Se der erro de comunicação depois, testamos o gpio13.
spi_software_sclk_pin: adxl:gpio10
spi_software_mosi_pin: adxl:gpio11
spi_software_miso_pin: adxl:gpio12

[resonance_tester]
accel_chip: adxl345
probe_points:
    127, 100, 20  # Centro real aproximado da área de impressão da FBG5 (255x210)